/* css styles */

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$link-color: #d1ad41;

/* unvisited link */
a:link {
  color: #197278;
}

/* visited link */
a:visited {
  color: #5f0f40;
}

/* mouse over link */
a:hover {
  color: #ef476f;
}

/* selected link */
a:active {
  color: blue;
} 

